.buttons {
    display: flex;
}
.nextButton {
    margin-left: auto;
}

.textarea {
    padding: 12px;
    width: 680px;
    height: 84px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}