@font-face {
  font-family: "SB Sans Interface";
  src: url("fonts/SB Sans Interface/37086b994764dba84b2ee0f1083bfeed.woff2") format('woff2'),
  url("fonts/SB Sans Interface/37086b994764dba84b2ee0f1083bfeed.woff") format('woff');
}

* {
  font-family: 'SB Sans Interface', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F4F4F5;
}

.containerMain {
  max-width: 900px;
  margin: 24px auto 0 auto;
  border-radius: 12px 12px 0 0;
  padding: 24px;
  background: #FFF;
}

.containerStep {
  max-width: 900px;
  margin: 24px auto 0 auto;
  border-radius: 12px 12px 0 0;
  padding: 62px 110px 80px 110px;
  background: #FFF;
}
