.buttons {
    display: flex;
}
.nextButton {
    margin-left: auto;
}

.checkbox, .radio {
    display: flex;
    gap: 10px;
}

.radioGroup, .checkboxGroup{
    display: flex;
    flex-direction: column;
}

.advantage {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon{
    cursor: pointer;
}

.advantages {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.addAdvantage {
    width: fit-content;
}